{% extends 'layout/layout.html.twig' %}
{% block content %}
<h2>Mes Courriers Reçus</h2>
<table>
    <thead>
        <tr>
            <th>Objet</th>
            <th>Expéditeur</th>
            <th>Date d'envoi</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for courrier in courrierRecus %}
        <tr>
            <td>{{ courrier.objet }}</td>
            <td>{{ courrier.expediteur.email }}</td>
            <td>{{ courrier.dateEnvoi|date('d/m/Y') }}</td>
            <td>
                {# <a href="{{ path('courrier_ouvrir', {'id': courrier.id}) }}" class="btn btn-primary">Ouvrir</a> #}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock  %}