{% extends 'base.html.twig' %}

{% block title %}Éditer le Courrier{% endblock %}

{% block body %}
    <h1>Éditer le Courrier</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('app_courrier') }}">Retour à la liste des courriers</a>
{% endblock %}
