<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci de vous connecter !</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
    {# <link rel="stylesheet" href="{{ asset('assets/styles/home.css') }}"> #}
    {# <link rel="stylesheet" href="./css/home.css" /> #}
</head>
<body>

<nav>
    <h1></h1>
    <h2>Tresor Public Madagascar</h2>
</nav>
    <div class="twoside">      
        <div class="left">
          <div class="pictures start"></div>
        </div>

        <div class="rigth">
          <div class="title">Our Vision</div>
          <div class="text">
            Facilis cras id lorem massa . Scelensque vulputate porttio doctument temps ultricies auctor
          </div>
        </div>      
    </div>

    <!--next container-->
    <div class="twoside reverse">      
        <div class="left">
          <div class="pictures"></div>
        </div>

        <div class="rigth">
          <div class="title">Our Vision</div>
          <div class="text">
            Facilis cras id lorem massa . Scelensque vulputate porttio doctument temps ultricies auctor
          </div>
        </div>      
    </div>
  </body>
</html>
