
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.nav-col {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: rgb(5, 71, 97);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-col ul li {
    margin: 1em 0;
}

.nav-col ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

.nav-col ul li a:hover {
    text-decoration: underline;
    border-radius: 5%;
    background-color: rgb(99, 85, 85); 
    padding: 0.5em;
    
}


.nav-row {
    position: fixed;
    top: 0;
    right: 0;
    left: 200px; 
    background-color:  rgb(5, 71, 97);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-row ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.nav-row ul li {
    margin-left: 1em;
}

.nav-row ul li a {
    color: white;
    text-decoration: none;
}
.nav-row ul li a:hover {
  border-radius: 5%;
  background-color: rgb(99, 85, 85); 
  padding: 0.5em;
}

main {
    margin-left: 200px; 
    padding: 20px;
    flex: 1;
    margin-top: 60px;
    background-color: #f4f4f4;
}

