/* Style pour la barre de navigation collante */
.navbar {
  position: sticky;
  top: 0;
  background-color: #272323;
  z-index: 1000;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

/* Style pour le contenu de la navigation */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

form {
  margin-left: auto;
}

/* Style pour permettre à la section principale de scroller */
main {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Permet le défilement vertical */
  height: calc(100vh - 60px); /* Ajuste la hauteur pour éviter que le contenu dépasse l'écran */
  background-color: #ffffff;
}
